.hide-element {
  display: none;
}
.wrapper-block {
  overflow: hidden;
}
.row-layout {
  display: inline-block;
  border-radius: 5px;
  padding: 1px;
  border: 1px solid;
  color: #8898a3;
  background: #8898a3;
}
.overflow-hidden {
  overflow: hidden;
}
.ace_editor {
  min-height: 300px;
}
.handle-drop {
  width: 20px;
  height: 20px;
  background-color: #0a0a0a;
}
.notific8-container.right {
  bottom: 60px;
}