.panel {
  width: calc(100%/3 - 4px);
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
  cursor: move;
  height: 95px;
  border: 1px solid #3b3e43;
  border-radius: 6px;
  background-color: #222;
  text-align: center;
  float: left;
  position: relative;
  z-index: 9999;

  &:nth-child(2), &:nth-child(5), &:nth-child(8) {
    margin: 0 6px;
  }

  &:hover {
    background-color: #2f2f2f;
    border-color: #20a0ff;
    color: #fff;
  }

  &__i {
    font-size: 25px;
    color: #ffffff;
    display: block;
    height: 30px;
  }

  &__text {
    margin-top: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #dedfe1;
  }
}